CREATE DATABASE QLMonAn
 
CREATE TABLE MonAn(
	MaMonAn int  NOT NULL PRIMARY KEY,
	TenMonAn nvarchar(50) NOT NULL,
	DonViTinh nvarchar(50) NULL,
	DonGia int NULL,
	Nhom int NULL)

CREATE TABLE NhomMonAn(
	MaNhom int  NOT NULL PRIMARY KEY,
	TenNhom nvarchar(50) NOT NULL)
 
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (1, N'Gỏi thập cẩm', N'Dĩa', 120000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (2, N'Gỏi sứa', N'Dĩa', 140000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (3, N'Gỏi tai heo', N'Dĩa', 110000, 1)

INSERT NhomMonAn (MaNhom, TenNhom) VALUES (1, N'Khai vị')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (2, N'Hải sản')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (3, N'Bia - Nước ngọt')

create PROC Them_Mon_An
@mamonan int,@tenmon nvarchar(50), @donvitinh nvarchar(50),@dongia int, @nhom nvarchar(50)
As
	if(@nhom = N'Khai vị')
		INSERT into MonAn values (@mamonan, @tenmon, @donvitinh, @dongia, 1)
	else if(@nhom =N'Hải sản')
		INSERT into MonAn values (@mamonan, @tenmon, @donvitinh, @dongia, 2)
	else if(@nhom =N'Bia - Nước ngọt')
		INSERT into MonAn values (@mamonan, @tenmon, @donvitinh, @dongia, 3)
	else if(@nhom =N'Lẩu')
		INSERT into MonAn values (@mamonan, @tenmon, @donvitinh, @dongia, 4)
	else
		INSERT into MonAn values (@mamonan, @tenmon, @donvitinh, @dongia, 1)